---
import LogoParkify from '@/components/atoms/logoParkify/LogoParkify.astro';
import styles from './Main.module.css';
import Reloj from '@/components/molecules/reloj/Reloj';
import ActuallyDate from '@/components/molecules/actuallyDate/ActuallyDate';
import ModalOverlay from '@/components/templates/modalOverlay/ModalOverlay.jsx';
import Box from '@/components/molecules/box/Box.jsx';
---


<div class={styles.bg}>
  <div class={styles.container}>
    <header class={styles.header}>
      <ActuallyDate client:load/>
      <Reloj client:load/>
    </header>
  
    <LogoParkify />
    <img src="./src/assets/auto.svg" alt="auto-icon" class={styles.auto} />

    <Box client:load/>
    <ModalOverlay client:load />

    <footer class={styles.footer}>© 2025 desarrollado por stivcode</footer>
  </div>
</div>