---
import Button from '@/components/atoms/button/Button.astro';
import styles from './Landing.module.css';
import LogoParkify from '@/components/atoms/logoParkify/LogoParkify.astro';
---

<div class={styles.container}>
  <div class={styles.containerTitle}>
    <LogoParkify />
  </div>
  <img src="/bgAutos.png" alt="background" class={styles.cars} />
  <div  class={styles.button}>
    <Button path="/login" name="Iniciar"/>
  </div>
  <footer class={styles.footer}>© 2025 desarrollado por stivcode</footer>
</div>
